<!DOCTYPE html>
<html>
<head>
<title>Project</title>
<style> 
.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.wrapper {
    text-align: center;
}
</style>
</head>
<body background="bk.jpg">
<div class="wrapper">
  <h2>Predicted Label: <i>"{{ result }}"</i></h2>
  <button class="button" onclick="location.href='/'">Enter Again</button>
</div>
</body>
</html>